<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mall.mapper.CmsPrefrenceAreaProductRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ming.mall.model.CmsPrefrenceAreaProductRelation">
        <id column="id" property="id"/>
        <result column="prefrence_area_id" property="prefrenceAreaId"/>
        <result column="product_id" property="productId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prefrence_area_id, product_id
    </sql>

    <!--    批量插入优选产品关系-->
    <insert id="insertList">
        insert into cms_prefrence_area_product_relation(prefrence_area_id, product_id)
        values
        <foreach collection="prefrenceAreaProductRelationList" item="relation" separator=",">
            (#{relation.prefrenceAreaId},
            #{relation.productId})
        </foreach>
    </insert>
    <select id="getPrefrenceAreaProductRelationByProductId"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_prefrence_area_product_relation
        where product_id=#{productId}
    </select>

</mapper>
