<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mall.mapper.PmsProductCategoryAttributeRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ming.mall.model.PmsProductCategoryAttributeRelation">
        <id column="id" property="id"/>
        <result column="product_category_id" property="productCategoryId"/>
        <result column="product_attribute_id" property="productAttributeId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_category_id, product_attribute_id
    </sql>

    <!--    批量插入分类与属性的关系-->
    <insert id="addAllRelations">
        insert into pms_product_category_attribute_relation (product_category_id, product_attribute_id)
        values
        <foreach collection="attributeIdList" item="attributeId" separator=",">
            (#{categoryId},#{attributeId})
        </foreach>
    </insert>

</mapper>
