<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mall.mapper.SmsCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ming.mall.model.SmsCoupon">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="platform" property="platform"/>
        <result column="count" property="count"/>
        <result column="amount" property="amount"/>
        <result column="per_limit" property="perLimit"/>
        <result column="min_point" property="minPoint"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="use_type" property="useType"/>
        <result column="note" property="note"/>
        <result column="publish_count" property="publishCount"/>
        <result column="use_count" property="useCount"/>
        <result column="receive_count" property="receiveCount"/>
        <result column="enable_time" property="enableTime"/>
        <result column="code" property="code"/>
        <result column="member_level" property="memberLevel"/>
    </resultMap>

    <resultMap id="smsCouponParamResultMap" type="com.ming.mall.dto.SmsCouponParam" extends="BaseResultMap">
        <collection property="productCategoryRelationList"
                    ofType="com.ming.mall.model.SmsCouponProductCategoryRelation"
                    resultMap="com.ming.mall.mapper.SmsCouponProductCategoryRelationMapper.BaseResultMap"
                    columnPrefix="category_"/>
        <collection property="productRelationList" ofType="com.ming.mall.model.SmsCouponProductRelation"
                    resultMap="com.ming.mall.mapper.SmsCouponProductRelationMapper.BaseResultMap"
                    columnPrefix="product_"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, name, platform, count, amount, per_limit, min_point, start_time, end_time, use_type, note, publish_count, use_count, receive_count, enable_time, code, member_level
    </sql>

    <!--    通过优惠券id获取优惠券信息-->
    <select id="getCouponById" resultMap="smsCouponParamResultMap">
        SELECT c.id                       id,
               c.type                     type,
               c.name                     name,
               c.platform                 platform,
               c.count                    count,
               c.amount                   amount,
               c.per_limit                per_limit,
               c.min_point                min_point,
               c.start_time               start_time,
               c.end_time                 end_time,
               c.use_type                 use_type,
               c.note                     note,
               c.publish_count            publish_count,
               c.use_count                use_count,
               c.receive_count            receive_count,
               c.enable_time              enable_time,
               c.code                     code,
               c.member_level             member_level,
               cpcr.id                    category_id,
               cpcr.coupon_id             category_coupon_id,
               cpcr.product_category_id   category_product_category_id,
               cpcr.product_category_name category_product_category_name,
               cpcr.parent_category_name  category_parent_category_name,
               cpr.id                     product_id,
               cpr.coupon_id              product_coupon_id,
               cpr.product_id             product_product_id,
               cpr.product_name           product_product_name,
               cpr.product_sn             product_product_sn
        FROM sms_coupon c
                 LEFT JOIN sms_coupon_product_category_relation cpcr ON c.id = cpcr.coupon_id
                 LEFT JOIN sms_coupon_product_relation cpr ON c.id = cpr.coupon_id
        WHERE c.id = #{couponId};
    </select>

</mapper>
