<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mall.mapper.SmsCouponProductRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ming.mall.model.SmsCouponProductRelation">
        <id column="id" property="id"/>
        <result column="coupon_id" property="couponId"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_sn" property="productSn"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, product_id, product_name, product_sn
    </sql>

    <!--    批量插入-->
    <insert id="insertList">
        insert into sms_coupon_product_relation(coupon_id, product_id, product_name, product_sn)
        values
        <foreach collection="productRelationList" item="relation" separator=",">
            (#{relation.couponId},#{relation.productId},#{relation.productName},#{productSn})
        </foreach>
    </insert>

</mapper>
