<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mall.mapper.UmsAdminRoleRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ming.mall.model.UmsAdminRoleRelation">
        <id column="id" property="id"/>
        <result column="admin_id" property="adminId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin_id, role_id
    </sql>

    <!--    批量插入出管理员角色信息-->
    <insert id="insertRoleByIds">
        insert into ums_admin_role_relation(admin_id, role_id)
        VALUES
        <foreach collection="roleIds" separator="," open="(" close=")" item="roleId">
            #{adminId},#{roleId}
        </foreach>
    </insert>

    <!--    获取资源-->
    <select id="getResourceListById" resultType="com.ming.mall.model.UmsResource">
        SELECT ur.id          id,
               ur.create_time createTime,
               ur.`name`      name,
               ur.url         url,
               ur.description description,
               ur.category_id categoryId
        FROM ums_admin a,
             ums_role r,
             ums_admin_role_relation ar,
             ums_resource ur,
             ums_role_resource_relation rr
        WHERE a.id = ar.admin_id
          AND r.id = ar.role_id
          AND r.id = rr.role_id
          AND ur.id = rr.resource_id
          AND a.id = #{adminId}
          AND ur.id IS NOT NULL
        GROUP BY ur.id
    </select>

</mapper>
