<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mall.mapper.UmsMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ming.mall.model.UmsMenu">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="title" property="title"/>
        <result column="level" property="level"/>
        <result column="sort" property="sort"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="hidden" property="hidden"/>
    </resultMap>

    <resultMap id="UmsMenuNodeResultMap" type="com.ming.mall.dto.UmsMenuNode" extends="BaseResultMap">
        <collection property="children" ofType="com.ming.mall.dto.UmsMenuNode" column="id"
                    select="getMenuByTree"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, create_time, title, level, sort, name, icon, hidden
    </sql>
    <select id="getMenuByTree" resultMap="UmsMenuNodeResultMap">
        select
        <include refid="Base_Column_List"/>
        from ums_menu
        where parent_id = #{parentId}
    </select>
    <!--    通过角色id获取菜单-->
    <select id="getMenuByRoleId" resultType="com.ming.mall.model.UmsMenu">
        SELECT DISTINCT m.id          id,
                        m.parent_id   parentId,
                        m.create_time createTime,
                        m.title       title,
                        m.level       level,
                        m.sort        sort,
                        m.name        name,
                        m.icon        icon,
                        m.hidden      hidden
        FROM ums_menu m
                 JOIN ums_role_menu_relation rmr ON m.id = rmr.menu_id
        WHERE rmr.role_id = #{roleId}
          AND m.id IS NOT NULL
    </select>

</mapper>
